
# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Backups and Sensitive Data
Backups/
*.sql
*.zip
*.rar
.env

# Node
node_modules/
dist/
build/
