[Unit]
Description=Gunicorn Prestamos Django Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/prestamos
Environment="DATABASE_URL=mysql://prestamos_user:cambia-esta-clave@127.0.0.1:3306/prestamos?charset=utf8mb4"
Environment="SECRET_KEY=cambia-esta-clave-segura"
Environment="DEBUG=False"
Environment="ALLOWED_HOSTS=65c69cf0-79ce-4b3f-bcec-f79d02f88417.clouding.host,79.143.91.254"
Environment="CSRF_TRUSTED_ORIGINS=https://65c69cf0-79ce-4b3f-bcec-f79d02f88417.clouding.host"
ExecStart=/srv/prestamos/.venv/bin/gunicorn gestion_prestamos.wsgi:application --bind 127.0.0.1:8001 --workers 3
Restart=always

[Install]
WantedBy=multi-user.target